html {
	font-size: 125%;
}

.wrapper {
	max-width: 1600px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: lavender;
}

h1 {
	margin: 20px auto;
	color: #323232;
	font-family: 'Stylish', sans-serif;
	font-size: 3rem;
	text-align: center;
}

h2 {
	margin: 5px auto;
	color: #323232;
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	text-align: center;
}

.game {
	margin: 0 auto;
	height: 80vh;
	width: 80vw;
	max-width: 1000px;
	background: lightblue;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 8px 8px 26px 0 rgba(50, 50, 50, 0.5);
	margin: 20px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
	.card {
		height: calc(25% - 20px);
		width: calc(20% - 20px);
		margin: 10px;
		background: rgba(50, 50, 50, 0.8);
		color: black;
		font-size: 0;
		border-radius: 8px;
		box-shadow: 5px 2px 25px 0 rgba(50, 50, 50, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			transform: scale(1.1);
			transition: .5 ease;
		}

		&.clicked {
			font-size: 50px;
			background: rgba(255,255,0,0.5);
			transition: .2s ease;
		}

		&.celebrate {
			font-size: 50px;
			background: rgba(0,255,0,0.5);
			transition: .3s ease;
			animation-name: flipInY;
		}

		&.matched {
			font-size: 50px;
			background: lightblue;
			transition: .3s ease;
		}

		&.wrong {
			font-size: 50px;
			background: rgba(255,0,0,0.5);
			transition: .3s ease;
		}

		&.winner {
			background: rgba(255,192,203,0.8);
			transition: all 1.5s ease-in-out;
			transform: rotateY(180deg);
		}
	}
}

@media (max-width: 940px) {
h1 {
	margin-top: 20px;
}

.game {
	width: 90vw;
	padding: 20px;
		
	.card {
		height: calc(20% - 20px);
		width: calc(25% - 40px);
	}
}
}

@media (max-width: 767px) {
h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1rem;
}

.game {
	padding: 20px;
	margin: 20px 10px 10px;
		
	.card {
		height: calc(20% - 14px);
		width: calc(25% - 14px);
		margin: 7px 7px;
		
		&.clicked,
		&.celebrate,
		&.matched,
		&.wrong	 {
			font-size: 40px;
		}
	}
}
}

@media (max-width: 540px) {
h1 {
	font-size: 2rem;
}

.game {
	height: 50vh;
	padding: 20px;
	margin-top: 80px;
		
	.card {
		margin: 3px 3px;

		&.clicked,
		&.celebrate,
		&.matched,
		&.wrong	 {
			font-size: 30px;
		}
	}
}
}

@media (max-width: 380px) {
h1 {
	font-size: 1.6rem;
}

.game {
	height: 60vh;
}
}